{{template "base" .}}
{{define "title"}}Admin Panel{{end}}
{{define "main"}}
    <form action='/admin' method='POST'>
        <h2>Give a teacher role</h2>
        <input type='hidden' name='csrf_token' value='{{.CSRFToken}}'>
        {{with .Form}}
            <div>
                <label>Email:</label>
                {{with .Errors.Get "email"}}
                    <label class='error'>{{.}}</label>
                {{end}}
                <input type='text' name='email' value='{{.Get "email"}}'>
            </div>
            <div>
                <input type='submit' value='Submit'>
            </div>
        {{end}}
    </form>


{{end}}