{{define "base"}}
 <!doctype html>
 <html lang='en'>
    <head>
        <meta charset='utf-8'>
        <title>{{template "title" .}} - Home</title>
        <link rel='stylesheet' href='/static/css/main.css'>
        <link rel='shortcut icon' href='/static/img/logoFavicon.png' type='image/x-icon'>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Madimi+One&display=swap" rel="stylesheet">
    </head>
    <body>
        <header>
            <h1>
                <img src="/static/img/logoFullHD.png" alt="AITU logo">
                <a href='/'>OYNA - child's dream, your reality</a>
            </h1>
        </header>
        <nav>
        <div class="navbar">
            <a href='/'>Toys</a>
            {{if .IsAuthenticated}}
            <div class="dropdown">
                <button class="dropbtn">Create</button>
                <div class="dropdown-content">
                    <a href='/feedback/create'>Write feedback</a>
                </div>
            </div>
            {{end}}
            {{if .IsAdmin}}
                <div class="dropdown">
                    <button class="dropbtn">Create</button>
                    <div class="dropdown-content">
                        <a href='/toys/create'>Create toy</a>
                    </div>
                </div>
            {{end}}
            <div class="dropdown">
                <button class="dropbtn">Information</button>
                <div class="dropdown-content">
                    <a href='/feedbacks'>Feedbacks</a>
                </div>
            </div>
        </div>
        <div>
            {{if .IsAuthenticated}}
            <form action='/user/logout' method='POST'>
                <input type='hidden' name='csrf_token' value='{{.CSRFToken}}'>
                <button>Logout</button>
            </form>
            {{else}}
                <a href='/user/signup'>Sign Up</a>
                <a href='/user/login'>Login</a>
            {{end}}
        </div>
            <div>
                {{if .IsAdmin}}
                <a href='/admin'>Admin</a>
                {{end}}
            </div>
        </nav>
        <main>
            {{with .Flash}}
            <div class='flash'>{{.}}</div>
            {{end}}
            {{template "main" .}}
        </main>
        {{template "footer" .}}
        <script src="/static/js/main.js" type="text/javascript"></script>
    </body>
 </html>
 {{end}}
