 {{template "base" .}}
 {{define "title"}}Create a new department{{end}}
 {{define "main"}}
 <form action='/department/create' method='POST'>
     <input type='hidden' name='csrf_token' value='{{.CSRFToken}}'>
     {{with .Form}}
        <div>
            <label>Department name:</label>
            {{with .Errors.Get "dep_name"}}
                <label class='error'>{{.}}</label>
            {{end}}
            <input type='text' name='dep_name' value='{{.Get "dep_name"}}'>
        </div>
        <div>
            <label>Staff Quantity:</label>
            <input type='number' name='staff_quantity' value='{{.Get "staff_quantity"}}'>
        </div>
        <div>
            <input type='submit' value='Publish department'>
        </div>
        {{end}}
 </form>
 {{end}}