{{template "base" .}}
 {{define "title"}}Feedbacks{{end}}
 {{define "main"}}
    <h2>Feedbacks</h2>
    {{if .Feedbacks}}
     <table>
        <tr>
            <th>Name</th>
            <th>Content</th>
            <th>Stars</th>
            <th>ID</th>
        </tr>
        {{range .Feedbacks}}
        <tr>
            <!-- Use the new semantic URL style-->
            <td><a href='/feedback/{{.ID}}'>{{.Name}}</a></td>
            <td>{{.Content}}</td>
            <td>{{.Stars}}</td>
            <td>#{{.ID}}</td>
        </tr>
        {{end}}
    </table>
    {{else}}
        <p>There's nothing to see here... yet!</p>
    {{end}}
 {{end}}