{{template "base" .}}
{{define "title"}}Feedback #{{.Feedback.ID}}{{end}}
{{define "main"}}
{{with .Feedback}}
<div class='snippet'>
<div class='metadata'>
<strong>{{.Name}}</strong>
    <span>#{{.ID}}</span>
</div>
    <pre><code>{{.Content}}</code></pre>
    <div class='metadata'>
        <strong>{{.Stars}}</strong>
    </div>
</div>
{{end}}
{{end}}
